<ul>
  <% @tasks.each do |task| %>
  <li> <%= link_to task.completed ? "[x] #{task.title}" : "[ ] #{task.title}", task_path(task)  %> <em> - <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %></em></li>
  <% end %>
</ul>

<p><%= link_to 'Create a new task', new_task_path %></p>
